checkpoints/fno/best_val_loss.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/node/best_val_loss.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/parcv2/best_val_loss.pt filter=lfs diff=lfs merge=lfs -text
